.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.numericPad{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    margin-bottom: 10px;
}
.controlButtons{
    display: grid;
    gap:10px;
}
.screen{
    height: 50px;
    width: -webkit-fill-available;
   
    padding: 5px;
    text-align: end;
}
.inputSection{
    margin-bottom: 20px;
}
.right{
    display: flex;
    align-items: center;
    gap:10px
}
.textHead{
    color: var(--textColor)
}