:root {
  --bg-white: #f8f8f8;
  --bg-dark: #424242;
  --bg-blue:  #0000ff;
}

body.white{
  background-color: var(--bg-white); /* Установка начального значения */
  --textColor: #000000;

}

body.dark {
  background-color: var(--bg-dark); /* Изменение значения при добавлении класса .dark к body */
  --textColor: white;
}
body.blue{
  background-color:var(--bg-blue);
  --textColor: red;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
